<div class="page-header-container">
    <div class="row">
        <div class="col-6">
            <div class="content-header">ADD NEW USERS</div>
        </div>
        <div class="col-6">
            <div class="header-breadcrumb">
                <ul>
                    <li>
                        <i class="ft ft-home"></i>
                    </li>
                    <li>
                        Back
                    </li>
                    <li>
                        Masters
                    </li>
                    <li>
                        Property masters
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="card"
         cardCollapse=""
         [isOpen]="isOpen"
         [ngClass]="{'card-loading': loading}">
        <div class="card-header">
            <div class="pull-right">
                <span class="card-collapse-toggle"
                      id="tour-card-arrow">
                    <i class="ft ft-arrow-up"></i>
                </span>
            </div>

            <!-- Card collapse directive requires card-title -->
            <span class="card-title"
                  id="tour-card-header">
                User edit form title
            </span>
        </div>
        <div class="card-block"
             id="test">
            <!--<div class="alert alert-secondary"-->
            <!--*ngIf="loading">-->
            <!--Loading...-->
            <!--</div>-->
            <form [formGroup]="userForm"
                  (submit)="editUser($event)">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="user-group">Group</label>
                            <select name="user-group"
                                    id="user-group"
                                    formControlName="group"
                                    class="form-control form-control-sm">
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input class="form-control form-control-sm"
                                   id="name"
                                   name="name"
                                   formControlName="name"
                                   type="text">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">User Name</label>
                            <input class="form-control form-control-sm"
                                   id="user_name"
                                   name="user_name"
                                   formControlName="user_name"
                                   type="text">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text"
                                   class="form-control form-control-sm"
                                   placeholder="e-mail"
                                   name="email"
                                   id="email"
                                   formControlName="email"
                                   required>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="email">Email verified</label>
                            <select
                                    name="email-verification"
                                    id="email-verification"
                                    formControlName="email_verify"
                                    class="form-control form-control-sm">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="account_active">Account active</label>
                            <select name="account_active"
                                    id="account_active"
                                    formControlName="account_active"
                                    required
                                    class="form-control form-control-sm">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="country">Country</label>
                            <select name="country"
                                    id="country"
                                    formControlName="country"
                                    class="form-control form-control-sm">
                                <option value="bahrain">Baharain</option>
                                <option value="india">India</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="mobile">Mobile</label>
                            <input type="number"
                                   placeholder="Mobile no."
                                   name="mobile"
                                   id="mobile"
                                   formControlName="mobile"
                                   required
                                   maxlength="10"
                                   class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="mobile-verified">Mobile verified</label>
                            <select name="mobile-verified"
                                    formControlName="mobile_verified"
                                    class="form-control form-control-sm"
                                    id="mobile-verified">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <!--<div class="col-sm-3">-->
                    <!--<div class="form-group">-->
                    <!--<label for="password">Password (optional)</label>-->
                    <!--<input type="password"-->
                    <!--name="password"-->
                    <!--id="password"-->
                    <!--[disabled]="true"-->
                    <!--formControlName="password"-->
                    <!--class="form-control form-control-sm">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="password">Tag input</label>-->
                    <!--<tag-input [(ngModel)]="tags"-->
                    <!--name="enter-tag"-->
                    <!--[editable]="true"-->
                    <!--[allowDupes]="false"></tag-input>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-sm-3">-->
                    <!--<div class="form-group">-->
                    <!--<label for="password">Date</label>-->
                    <!--<div class="input-group input-group-sm">-->
                    <!--<input class="form-control"-->
                    <!--placeholder="yyyy-mm-dd"-->
                    <!--placement="top-left"-->
                    <!--name="dp"-->
                    <!--[(ngModel)]="user.date"-->
                    <!--ngbDatepicker-->
                    <!--#d="ngbDatepicker">-->
                    <!--<div class="input-group-append">-->
                    <!--<button class="btn btn-outline-secondary"-->
                    <!--(click)="d.toggle()"-->
                    <!--type="button">-->
                    <!--<i class="ft ft-calendar"></i>-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
                <!-- <hr> -->
                <div class="row">
                    <div class="col-12">
                        <div class="mb-1 mt-1">
                            <button class="btn btn-dark btn-raised btn-sm"
                                    type="submit">
                                {{(!editing)?'Edit':'Editing'}}
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
