<div class="page-header-container">
    <div class="row">
        <div class="col-6">
            <div class="content-header">
                {{'dashboard' | lang}}
            </div>
        </div>
        <div class="col-6">
            <div class="header-breadcrumb">
                <ul>
                    <li>
                        <i class="ft ft-home"></i>
                    </li>
                    <li>
                        Dashboard
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="mt-2">
    <!------------------------------------ <Customer dashbaord view  -->
    <!--<div *ngIf="user.first_setup == '1'">-->
    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!--<h3>-->
    <!--Setup your first ledger format-->
    <!--</h3>-->
    <!--<p>-->
    <!--Ledger formats are column organization that helps validate data inside your ledgers <br>-->
    <!--You can create multiple ledger formats for different types of ledgers.-->
    <!--</p>-->
    <!--<button routerLink="/ledger-mapping"-->
    <!--class="btn btn-fame btn-sm">-->
    <!--Create data mapping-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!------------------------ <report count-->
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body">
                                <h2 class="mb-1 warning">10</h2>
                                <span>{{ 'mappedData' | lang: 'Mapped data' }}</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-magic-wand warning font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body">
                                <h2 class="mb-1 danger">15</h2>
                                <span>Uploaded Data Set</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-cloud-upload danger font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body">
                                <h2 class="mb-1 success">5</h2>
                                <span>Approved Data Set</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-check success font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body">
                                <h2 class="mb-1 success">9</h2>
                                <span>Tax Return</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-folder success font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-cards></app-cards>

</div>