@import "scss/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "scss/core/palette";
@import "scss/app-variables";
@import "scss/mixins";
@import "scss/custom-bootstrap";
@import "scss/core";
@import "scss/fonts/weather-icons";
@import "scss/plugins";
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";
@import "~jquery-confirm/css/jquery-confirm.css";
@import "~flatpickr/dist/flatpickr.css";
@import "~angular-calendar/css/angular-calendar.css";
//@import "~bootstrap-tour/build/css/bootstrap-tour-standalone.css";
@import "~noty/lib/noty.css";
@import "~noty/lib/themes/bootstrap-v4.css";
@import "~noty/lib/themes/light.css";
@import "scss/login";

// custom

p-calendar {
  width: 100%;
  display: block;
  span {
    width: 100%;
    display: block;
    .ui-inputtext {
      width: 100%;
      border: 1px solid #A6A9AE;
      color: #75787d;
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5;
      border-radius: 0.2rem;
    }
  }
}

.title-right-buttons {
  float: right;
  margin-top: 33px;
}

.menu-collapsed {
  .text.align-middle {
    display: none !important;
  }
}

.no-margin-b {
  margin-bottom: 0 !important;
}

.quick-panel {
  position: fixed;
  right: 0px;
  transform: translate(420px, 0);
  background: white;
  width: 400px;
  transition: all .2s;
  box-shadow: -3px 0px 30px rgba(0, 0, 0, .3);
  overflow-y: auto;
  z-index: 9;
  bottom: 0px;
  top: 60px;
  opacity: 0;

  &.open {
    transform: translate(0px, 0);
    opacity: 1;
  }
  .quick-panel-close {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
  }
  .quick-panel-inner {
    padding: 20px;
  }
}

.validator-code {
  font-family: consolas;
  font-size: 12px;
}

.m-l {
  margin-left: 7px;
}

.nav-master {
  position: fixed;
  background: white;
  top: 52px;
  padding: 0 10px 10px 0;
  width: 401px;
  box-shadow: $shadow-8dp;
  border-radius: 4px;
  transition: all .2s;
  overflow: hidden;
  opacity: 1;
  transform-origin: top;

  &.hide {
    transform: rotateX(90deg);
    opacity: 0;
  }

  .nav-master-item {
    background: #eee;
    //color: white;
    width: 47%;
    padding: 7px 5px;
    border-radius: 4px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      background: #ddd;
    }

    &.active {
      background: darken(#ddd, 5%);

      i {
        color: inherit;
      }
    }

    img {
      height: 23px;
    }
    i, img {

      margin: 0 8px 0 6px;
    }
    i, span {
      vertical-align: middle;
    }
  }
}

.search-master {
  position: absolute;
  background: white;
  border-radius: 4px;
  width: 300px;
  box-shadow: $shadow-8dp;
  transition: all .2s;
  overflow: hidden;
  top: 52px;
  opacity: 1;
  transform-origin: top;

  &.hide {
    transform: rotateX(90deg);
    opacity: 0;
  }

  .search-input {
    //padding: 10px;
  }

  .search-group {
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 600;
  }

  .search-results {
    margin-top: 4px;
    overflow: hidden;
    overflow-y: auto;
    max-height: 280px;

    .search-result {
      padding: 10px 10px;
      display: block;
      border-top: solid 1px #ddd;
      cursor: pointer;
      transition: all .1s;

      &:first-child {
        border-top: none;
      }

      &:hover {
        background: #eee;
      }
    }
    .search-result-title {
      font-size: 15px;
      line-height: 15px;
    }
    .search-result-sub {
      font-size: 13px;
      line-height: 13px;
      margin-top: 4px;
    }
  }
}

.nav-item {
  .dropdown-menu {
    top: 45px !important;
  }
}

.notification-dropdown {
  position: absolute;
  background: white;
  border-radius: 4px;
  width: 300px;
  box-shadow: $shadow-8dp;
  overflow: hidden;
  overflow-y: auto;
  max-height: 320px;
  padding: 0;

  .noti-container {
    padding: 10px 10px;
    display: block;
    border-top: solid 1px #ddd;
    cursor: pointer;
    transition: all .1s;

    &:first-child {
      border-top: none;
    }

    &:hover {
      background: #eee;
    }

    i {
      margin-top: 0px;
      font-size: 24px;
      margin-left: 2px;
      margin-right: 14px;
    }
    .noti-wrapper {
      .noti-title {
        font-size: 15px;
        line-height: 15px;
      }
      .noti-text {
        font-size: 13px;
        line-height: 13px;
        margin-top: 4px;
      }
    }
  }
}

i {
  vertical-align: middle;
}

.ag-root.ag-layout-normal {
  border-radius: 5px;
}

.ng2-tag-input {
  //background: red;
  padding: 0px 7px !important;
  min-height: 31px !important;
  border: solid 1px #a6a9ae !important;
  border-radius: 2px;

  .ng2-tag-input__text-input {
    height: 29px !important;
    font-size: 14px !important;
    padding: 0 !important;
  }
}

tag {
  opacity: 1 !important;
  height: 25px !important;
  padding: 0 10px !important;
  line-height: 26px !important;
  font-size: 14px !important;
  text-align: center !important;
  background-color: #656565 !important;
  color: white !important;

  delete-icon {
    &:hover {
      margin-top: 2px;
    }
    svg {
      height: 26px !important;

      path {
        fill: white !important;
      }
    }
  }
}

#noty_layout__topRight {
  top: 70px;
  right: 15px;
}

#noty_layout__bottomRight {
  bottom: 5px;
  right: 15px;
}

.noty_theme__light.noty_bar {
  .noty_body {
    font-size: 14px;
    padding: 5px 10px;
  }
}

.cal-month-view .cal-open-day-events {
  box-shadow: none;
}

.w-p100 {
  width: 100px;
}

.w-p200 {
  width: 200px;
}

.w-p50 {
  width: 50px;
}

.w-p75 {
  width: 75px;
}

.tab-content {
  //padding: 15px 0;
  border: solid 1px #dee2e6;
  border-top: none;
}

//ngb-tabset{
//  .nav-link{
//    border-top-width: 4px;
//    &.active{
//      border-top-color: $color-primary2;
//    }
//  }
//}

.form-legend {
  border-bottom: solid 1px #dee2e6;
  padding-bottom: 4px;
  margin-bottom: 10px;
  font-weight: 500;
}

.form-check {
  position: relative;
  padding-left: 25px;
  height: 31px;

  > div {
    padding-top: 3px;

    label {
      position: relative;
      text-transform: initial;
      letter-spacing: 0px;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
      vertical-align: middle;
      color: #757575;

      cursor: pointer;

      &:before {
        content: '';
        height: 18px;
        width: 18px;
        position: absolute;
        top: -3px;
        border-radius: 50px;
        border: solid 1px #8f97a9;
        left: -24px;
      }

      &:after {
        content: '';
        height: 14px;
        width: 14px;
        position: absolute;
        top: -1px;
        background-color: #506EEC;
        left: -22px;
        border-radius: 50px;
        transition: all .4s;
        transform: scale(0);
      }
    }

    input[type="checkbox"] {
      + label {
        &:before {
          border-radius: 4px;
        }
        &:after {
          border-radius: 3px;
        }
      }
    }

    input {
      display: none;

      &:checked {
        + label {
          //background: red;
          &:before {
            border-color: #506EEC;
          }
          &:after {
            transform: scale(1);
          }
        }
      }
    }
  }
}

/**
@deprecated
 */
.input-checkbox {
  height: 31px;
  > div {
    padding-top: 2px;

    > label {
      margin: auto;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;

      text-transform: initial;
      letter-spacing: 0px;
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
      vertical-align: middle;
      color: #757575;

      span {
        vertical-align: text-bottom;
        display: inline-block;
        //vertical-align: middle;
        //transform: translate3d(0, 0, 0);

        &:first-child {

          position: relative;
          width: 18px;
          height: 18px;
          border-radius: 3px;
          transform: scale(1);
          vertical-align: middle;
          border: 1px solid #9098A9;
          transition: all 0.2s ease;

          svg {

            position: absolute;
            top: 3px;
            left: 2px;
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-dasharray: 16px;
            stroke-dashoffset: 16px;
            transition: all 0.3s ease;
            transition-delay: 0.1s;
            transform: translate3d(0, 0, 0);
          }

          &:before {
            content: "";
            width: 100%;
            height: 100%;
            background: #506EEC;
            display: block;
            transform: scale(0);
            opacity: 1;
            border-radius: 50%;
          }
        }
        &:last-child {
          padding-left: 8px;
        }
      }
      &:hover {
        span {
          &:first-child {
            border-color: #506EEC;

          }
        }
      }
    }

    > input {
      display: none;

      &:checked {
        + label {
          span {
            &:first-child {
              background: #506EEC;
              border-color: #506EEC;
              animation: wave 0.4s ease;

              svg {
                stroke-dashoffset: 0;
              }

              &:before {
                transform: scale(3.5);
                opacity: 0;
                transition: all 0.6s ease;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

.form-control.form-control-sm[type='file'] {
  height: 31px;
  padding: 1px 10px;
}

// form validation starts

.error {
  padding: 2px 0;
  font-size: 12px;
  font-weight: 600;

  &.error-danger {
    color: $color-danger;
  }
  &.error-warning {
    color: $color-warning;
  }
  &.error-info {
    color: $color-info;
  }
}

.form-group .error {
  display: none;
}

.ng-touched.ng-invalid ~ .error {
  display: block;
}

.form-group.ng-touched.ng-invalid {
  .ui-inputtext {
    border-color: $color-danger;
  }
  .error {
    display: block;
  }
}

tag-input {
  &.ng-touched.ng-valid {
    > div {
      //border-color: $color-success !important;
    }
  }
  &.ng-touched.ng-invalid {
    > div {
      border-color: $color-danger !important;
    }
  }
}

p-calendar {
  &.ng-touched.ng-valid {
    input {
      //border-color: $color-success !important;
    }
  }
  &.ng-touched.ng-invalid {
    input {
      border-color: $color-danger !important;
    }
  }
}

.ng-valid.ng-touched {
  > .drop-zone {
    //border-color: $color-success;
  }
}

.ng-invalid.ng-touched {
  > .drop-zone {
    border-color: $color-danger;
  }
}

.flatpickr-input {
  &.ng-touched.ng-valid + input {
    //border-color: $color-success;
  }
  &.ng-touched.ng-invalid + input {
    border-color: $color-danger;
  }
}

// validation end

.drop-zone {
  border: dashed 1px #aaa;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  height: inherit;
  min-height: 31px;
  line-height: 100%;
  position: relative;
  overflow: hidden;
  display: grid;
  transition: all .1s;
  transition-delay: .1s;

  .drop-text {
    margin: auto;
  }

  &.has-file-over {
    border-color: $color-primary2;
    min-height: 100px;
  }

  .file-progress {
    position: absolute;
    background: lighten($color-primary2, 40%);
    transition: width .5s;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.uploader-queue {
  .uploader-item {
    padding: 4px 0;
    border-bottom: solid 1px #ddd;
    font-size: 14px;
  }
}

.progression {
  //background: #0ABC76;
  display: table;
  width: 100%;
  height: 60px;

  .progression-step {
    //background: aquamarine;
    display: table-cell;
    text-align: center;
    height: 100%;
    min-height: 100%;
    vertical-align: top;

    .progression-cont {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        height: 3px;
        left: 0;
        right: 0;
        background: #ddd;
        top: 50%;
        margin-top: -2px;
      }

      &:after {
        content: '';
        position: absolute;
        height: 11px;
        left: 0;
        right: 0;
        background: #eee;
        top: 50%;
        margin-top: -6px;
        z-index: -1;
      }

      .progression-circle {
        position: absolute;
        left: 50%;
        margin-left: -20px;
        height: 40px;
        width: 40px;
        background-color: #ddd;
        border-radius: 100%;
        margin-top: -10px;
        border: solid 3px white;
        line-height: 32px;
        text-align: center;

        i {
          color: white;
        }
      }

      .progression-text {
        transform: translate(0px, 33px);
        font-size: 14px;
        font-weight: 500;
        color: #ddd;
      }
    }

    &.green {
      .progression-cont:before {
        background-color: #27ae60;
      }
      .progression-text {
        color: #27ae60;
      }
      .progression-circle {
        background-color: #27ae60;
      }
    }

    &.blue {
      .progression-cont:before {
        background-color: #3498db;
      }
      .progression-text {
        color: #3498db;
      }
      .progression-circle {
        background-color: #3498db;
      }
    }
  }
}

.tour-tour.fade {
  opacity: 1;

  .arrow {
    display: none;
  }
}

// tour
div.hopscotch-bubble {
  border: solid 1px #ddd;
  border-radius: 5px;
  box-shadow: $shadow-8dp;

  .hopscotch-title, .hopscotch-bubble-number {
    font-family: $font-family-content;
  }
  .hopscotch-content {
    font-family: $font-family-content;
  }
  .hopscotch-bubble-arrow-container {
    &.right {
      right: -34px;

      .hopscotch-bubble-arrow-border {
        border-left-color: #ddd;
      }
      .hopscotch-bubble-arrow {
        left: -2px;
      }
    }
    &.left {
      left: -17px;

      .hopscotch-bubble-arrow-border {
        border-right-color: #ddd;
      }
      .hopscotch-bubble-arrow {
        left: 2px;
      }
    }
    &.down {
      bottom: -33px;

      .hopscotch-bubble-arrow-border {
        border-top-color: #ddd;
      }
      .hopscotch-bubble-arrow {
        top: -19px;
      }
    }
    &.up {
      top: -17px;

      .hopscotch-bubble-arrow-border {
        border-bottom-color: #ddd;
      }
      .hopscotch-bubble-arrow {
        top: -15px;
      }
    }
  }
}

// end tour

p-autoComplete {
  width: 100%;
  display: block;
  > span.ui-autocomplete {
    display: block;
    width: inherit;
    > input {
      display: block;
      width: inherit;
      @extend .form-control;
      @extend .form-control-sm;
    }
  }

  .ui-autocomplete-panel {
    box-shadow: $shadow-8dp;

    .ui-autocomplete-list {
      padding: 0px;

      .ui-autocomplete-list-item {
        padding: 0px 10px;
        border-radius: 0;

        &:hover {
          background-color: #ddd;
          color: black;
        }
      }
    }
  }
}

p-autoComplete {
  &.ng-valid.ng-touched {
    input {
      ////border-color: $color-success !important;
    }
  }
  &.ng-invalid.ng-touched {
    input {
      border-color: $color-danger !important;
    }
  }
}

div.gutter-5 {
  margin-left: -5px;
  margin-right: -5px;

  > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}

div.gutter-10 {
  > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
