<div class="page-header-container">
    <div class="row">
        <div class="col-6">
            <div class="content-header">USERS</div>
        </div>
        <div class="col-6">
            <div class="header-breadcrumb">
                <ul>
                    <li>
                        <i class="ft ft-home"></i>
                    </li>
                    <li>
                        Users
                    </li>
                    <li>
                        List
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="mt-1 mb-1">
    <form>
        <div class="row">
            <div class="col-12">
                <div class="float-right"
                     id="tour-table-toolbar">
                    <!--<input type="text"-->
                    <!--placeholder="Search something maybe"-->
                    <!--name="email"-->
                    <!--class="form-control form-control-sm m-0 w-auto d-inline-block ml-1">-->
                    <!--<button type="submit"-->
                    <!--class="btn btn-clear btn-sm m-0 d-inline-block ml-1">-->
                    <!--{{loading ? 'Loading' : 'Search'}}-->
                    <!--</button>-->
                    <button class="btn btn-fame btn-raised btn-sm m-0 d-inline-block ml-1"
                            routerLink="add"
                            type="button">
                        <i class="ft ft-plus mr-1"></i>
                        Add user
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
</div>

<section id="extended">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-sm table-fame">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Email
                    </th>
                    <th class="text-right"></th>
                </tr>
                <tr *ngFor="let user of users">
                    <td class="valign-middle">
                        {{user.id}}
                    </td>
                    <td class="valign-middle">
                        {{user.username}}
                    </td>
                    <td class="valign-middle">
                        {{user.email}}
                    </td>
                    <td class="valign-middle text-right">
                        <button class="btn btn-sm btn-fame mr-1"
                                (click)="edit(user)"
                                type="button">Edit
                        </button>
                        <button class="btn btn-sm btn-fame"
                                (click)="deleteUser(user)"
                                type="button">Delete
                        </button>
                    </td>
                </tr>
                <tr *ngIf="loading">
                    <td colspan="4">
                        Loading...
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>