<div class="page-header-container">
    <div class="row">
        <div class="col-6">
            <div class="content-header">USERS MASTER WITH TABS</div>
        </div>
        <div class="col-6">
            <div class="header-breadcrumb">
                <ul>
                    <li>
                        <i class="ft ft-home"></i>
                    </li>
                    <li>
                        Back
                    </li>
                    <li>
                        Masters
                    </li>
                    <li>
                        Property masters
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-z-1">
                <div class="card-block">

                    <div class="float-right">
                        <button class="btn btn-fame btn-raised btn-sm m-0 d-inline-block ml-1"
                                type="button">
                            <i class="ft ft-plus mr-1"></i>
                            Add new entry
                        </button>
                        <button class="btn btn-danger btn-raised btn-sm m-0 d-inline-block ml-1"
                                type="button"
                                *ngIf="isRowSelected"
                                (click)="deleteSelected()">
                            <i class="ft ft-delete mr-1"></i>
                            Delete
                        </button>
                        <button class="btn btn-fame btn-raised btn-sm m-0 d-inline-block ml-1"
                                type="button"
                                *ngIf="isRowSelected"
                                (click)="editSelected()">
                            <i class="ft ft-edit mr-1"></i>
                            Edit
                        </button>

                    </div>

                    <input type="text"
                           placeholder="Search"
                           name="email"
                           class="form-control form-control-sm m-0 w-p100 d-inline-block mr-1">
                    from
                    <input type="text"
                           placeholder="From"
                           name="from-date"
                           class="form-control form-control-sm m-0 w-p100 d-inline-block mr-1"
                           [(ngModel)]="fromDate"
                           [altInput]="true"
                           [altFormat]="'d-m-Y'"
                           [convertModelValue]="false"
                           [enableTime]="false"
                           [time24hr]="false"
                           [enableSeconds]="false"
                           dateFormat="Y-m-dTH:i"
                           [disableMobile]="true"
                           [noCalendar]="false"
                           mwlFlatpickr
                    >
                    to
                    <input type="text"
                           placeholder="To"
                           name="to-date"
                           class="form-control form-control-sm m-0 w-p100 d-inline-block mr-1"
                           [(ngModel)]="toDate"
                           [altInput]="true"
                           [altFormat]="'d-m-Y'"
                           [convertModelValue]="false"
                           [enableTime]="false"
                           [time24hr]="false"
                           [enableSeconds]="false"
                           dateFormat="Y-m-dTH:i"
                           [disableMobile]="true"
                           [noCalendar]="false"
                           mwlFlatpickr
                    >
                    <button type="button"
                            class="btn btn-fame btn-sm">
                        <i class="ft ft-refresh-cw"></i>

                        Refresh
                    </button>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="progression mb-2 mt-2">
            <div class="progression-step green">
                <div class="progression-cont">
                    <div class="progression-circle">
                        <i class="ft ft-rotate-ccw"></i>
                    </div>
                    <div class="progression-text">Submitted for approval</div>
                </div>
            </div>
            <div class="progression-step blue">
                <div class="progression-cont">
                    <div class="progression-circle">
                        <i class="ft ft-rotate-ccw"></i>
                    </div>
                    <div class="progression-text">Submitted for approval</div>
                </div>
            </div>
            <div class="progression-step">
                <div class="progression-cont">
                    <div class="progression-circle">
                        <i class="ft ft-rotate-ccw"></i>
                    </div>
                    <div class="progression-text">Submitted for approval</div>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="extended">
    <div class="row">
        <div class="col-sm-12">

            <ngb-tabset>
                <ngb-tab title="Add new entry">
                    <ng-template ngbTabContent>

                        <div class="form-legend">
                            Additional information
                        </div>

                        <form [formGroup]="testForm"
                              #formTest="ngForm"
                              (submit)="submitForm()">
                            isForm valid: {{testForm.valid}}
                            <br>
                            Status: {{testForm.status}}

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">
                                            Upload files
                                        </label>
                                        <file-uploader
                                                [url]="'http://localhost/assets-mg-portal/api/auth/upload'"
                                                [postData]="{'someId': 1}"
                                                [files]="testForm.get('files').value"
                                                (filesUploaded)="testForm.get('files').setValue($event)"
                                        ></file-uploader>

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'files')"
                                        >
                                            Please upload the documents
                                        </div>

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('minlength', 'files')">
                                            At least 2 files are required
                                        </div>

                                        <div *ngIf="testForm.get('files').value.length">
                                            <div class="mt-1"><strong>Uploaded files</strong></div>
                                            <div *ngFor="let r of testForm.get('files').value; let indx = index"
                                                 class="border-bottom py-sm-1">
                                                {{r.file.file.name}}

                                                <div class="pull-right"
                                                     (click)="removeFromFiles(indx)">
                                                    <i class="ft ft-delete"></i>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="user-group">Group</label>
                                        {{testForm.get('group').value}}
                                        <select name="user-group"
                                                formControlName="group"
                                                id="user-group"
                                                class="form-control form-control-sm">
                                            <option value="test">
                                                test
                                            </option>
                                        </select>

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'group')">
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input class="form-control form-control-sm"
                                               id="name"
                                               name="name"
                                               formControlName="name"
                                               type="text">

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'name')">
                                            this is required
                                        </div>

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('minlength', 'name')">
                                            please enter at least 6 chars
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text"
                                               class="form-control form-control-sm"
                                               placeholder="e-mail"
                                               name="email"
                                               formControlName="email"
                                               id="email"
                                               required>
                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'email')"
                                        >
                                            This is required.
                                        </div>
                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('email', 'email')"
                                        >
                                            Please enter a valid e-mail
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="email">Email verified</label>
                                        <select
                                                name="email-verification"
                                                id="email-verification"
                                                formControlName="email_verified"
                                                class="form-control form-control-sm"
                                        >
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'email_verified')"
                                        >
                                            This is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="account_active">Account active</label>
                                        <select name="account_active"
                                                id="account_active"
                                                formControlName="account_active"
                                                required
                                                class="form-control form-control-sm">
                                            <option value="1">Active</option>
                                            <option value="0">Inactive</option>
                                        </select>

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'account_active')"
                                        >
                                            This is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="country">Country</label>
                                        <select name="country"
                                                id="country"
                                                formControlName="country"
                                                required
                                                class="form-control form-control-sm">
                                            <option value="973">Baharain</option>
                                            <option value="91">India</option>
                                        </select>

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'country')"
                                        >
                                            This is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="mobile">Mobile
                                        </label>
                                        <input type="text"
                                               placeholder="Mobile no."
                                               name="mobile"
                                               id="mobile"
                                               formControlName="mobile"
                                               required
                                               class="form-control form-control-sm">
                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'mobile')"
                                        >
                                            This is required
                                        </div>
                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('minlength', 'mobile')"
                                        >
                                            The mobile number must be at least 10 digits long
                                        </div>
                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('maxlength', 'mobile')"
                                        >
                                            The mobile number must be less than 15 digits long
                                        </div>
                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('pattern', 'mobile')"
                                        >
                                            Please enter a valid mobile number
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="mobile-verified">Mobile verified</label>
                                        <select name="mobile-verified"
                                                formControlName="mobile_verified"
                                                class="form-control form-control-sm"
                                                id="mobile-verified">
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="currency">Currency
                                        </label>
                                        <select name="currency"
                                                id="currency"
                                                required
                                                formControlName="currency"
                                                class="form-control form-control-sm">
                                            <option value="inr">
                                                INR
                                            </option>
                                            <option value="dollar">
                                                DOLLAR
                                            </option>
                                        </select>

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'currency')"
                                        >
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="password">Password (optional)</label>
                                        <input type="password"
                                               name="password"
                                               id="password"
                                               required
                                               formControlName="password"
                                               class="form-control form-control-sm">

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'password')"
                                        >
                                            Password is required
                                        </div>

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('minlength', 'password')"
                                        >
                                            Password must be atleast 6 chars long
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="password">Tag input</label>
                                        <tag-input
                                                formControlName="tag_input"
                                                name="enter-tag"
                                                [editable]="true"
                                                [allowDupes]="false"></tag-input>

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'tag_input')"
                                        >
                                            This field is required.
                                        </div>

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('minlength', 'tag_input')"
                                        >
                                            Minimum two items are required.
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="password">Date</label>
                                        <div class="input-group input-group-sm">
                                            <input class="form-control"
                                                   placeholder="yyyy-mm-dd"
                                                   placement="top-left"
                                                   name="dp"
                                                   formControlName="date"
                                                   ngbDatepicker
                                                   #d="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary"
                                                        (click)="d.toggle()"
                                                        type="button">
                                                    <i class="ft ft-calendar"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'date')"
                                        >
                                            Please enter a valid date
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="password">Date 2</label>

                                        <input class="form-control form-control-sm"
                                               name="dp"
                                               #date2
                                               type="date"
                                               formControlName="date2"
                                               [altInput]="false"
                                               [altFormat]="'h:i:K'"
                                               [convertModelValue]="false"
                                               [enableTime]="true"
                                               [time24hr]="false"
                                               [enableSeconds]="false"
                                               dateFormat="Y-m-d H:i"
                                               [disableMobile]="true"
                                               [noCalendar]="false"
                                               [disabled]="false"
                                               [readonly]="false"
                                               mwlFlatpickr>

                                        {{testForm.get('date2').value}}

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'date2')"
                                        >
                                            Please enter a valid date
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="password">Date 3</label>
                                        <div>
                                            <p-calendar
                                                    [showButtonBar]="true"
                                                    [showTime]="true"
                                                    formControlName="date3"
                                                    [hourFormat]="'12'"
                                            >

                                            </p-calendar>
                                        </div>

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'date3')"
                                        >
                                            Please enter a valid date
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>
                                            Check box?
                                        </label>

                                        <div class="input-checkbox mb-1">
                                            <div>
                                                <input
                                                        formControlName="checkbox_1"
                                                        id="myCheckbox"
                                                        type="checkbox"/>

                                                <label for="myCheckbox">
                                                <span>
                                                    <svg width="12px"
                                                         height="10px"
                                                         viewbox="0 0 12 10">
                                                      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                    </svg>
                                                </span>
                                                    <span>CodePenChallenge</span>
                                                </label>


                                                <div class="error error-danger"
                                                     *ngIf="formTest.form.hasError('required', 'checkbox_1')"
                                                >
                                                    This field is required.
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>
                                            Radio buttons
                                        </label>

                                        <div class="form-check">
                                            <div>
                                                <input class="form-check-input"
                                                       type="radio"
                                                       name="exampleRadios"
                                                       formControlName="radio1"
                                                       id="exampleRadios1"
                                                       value="option1"
                                                >
                                                <label class="form-check-label"
                                                       for="exampleRadios1">
                                                    Default radio
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-check">
                                            <div>

                                                <input class="form-check-input"
                                                       type="radio"
                                                       name="exampleRadios"
                                                       formControlName="radio1"
                                                       id="exampleRadios2"
                                                       value="option2"
                                                >
                                                <label class="form-check-label"
                                                       for="exampleRadios2">
                                                    Default radio
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-check">
                                            <div>

                                                <input class="form-check-input"
                                                       type="radio"
                                                       name="exampleRadios"
                                                       formControlName="radio1"
                                                       id="exampleRadios3"
                                                       value="option3"
                                                >
                                                <label class="form-check-label"
                                                       for="exampleRadios3">
                                                    Default radio
                                                </label>
                                            </div>
                                        </div>

                                        {{testForm.get('radio1').value}}

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'radio1')"
                                        >
                                            Please select a valid option
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Textarea</label>
                                        <textarea name="textarea"
                                                  placeholder="Textarea here"
                                                  formControlName="textarea1"
                                                  class="form-control-sm form-control"></textarea>

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'textarea1')"
                                        >
                                            This field is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Radios</label>

                                        <div>
                                            <div class="form-check d-inline-block mr-2">
                                                <div>

                                                    <input class="form-check-input"
                                                           type="radio"
                                                           name="exampleRadios"
                                                           formControlName="radio2"
                                                           id="exampleRadios4"
                                                           value="option1"
                                                    >
                                                    <label class="form-check-label"
                                                           for="exampleRadios4">
                                                        Default radio
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-check d-inline-block">
                                                <div>

                                                    <input class="form-check-input"
                                                           type="radio"
                                                           formControlName="radio2"
                                                           name="exampleRadios"
                                                           id="exampleRadios5"
                                                           value="option2"
                                                    >
                                                    <label class="form-check-label"
                                                           for="exampleRadios5">
                                                        Default radio
                                                    </label>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="error error-danger"
                                             *ngIf="formTest.form.hasError('required', 'radio2')"
                                        >
                                            Please select a valid option
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr> -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-1 mt-1">
                                        <button class="btn btn-dark btn-sm"
                                                [ngClass]="{'btn-fame': formTest.valid}"
                                                type="submit">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Tab information">
                    <ng-template ngbTabContent>
                        <ag-grid-angular
                                #agTable
                                style="width: 100%; height: 500px;"
                                class="ag-theme-balham"
                                [gridOptions]="gridOptions"
                                (selectionChanged)="tableSelection()"
                                (columnMoved)="colMoved($event)"
                        >
                        </ag-grid-angular>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>

        </div>
    </div>
</section>